@import url('/assets/css/dropdown.css');
@import url('/assets/css/header.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
:root{
    --primarycolor:orange;
    --secondarycolor:black
}
.primary{
    background-color: var(--primarycolor) !important;
    color: var(--secondarycolor) !important
}
.secondary{
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
}
button{
    font-weight: 600;

}
body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 15px;
}
h1{
    font-weight: 600 !important;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
hr,hr.section-divider{
    margin: 3rem 0;
    background-color: white;
}
.card{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

  /* businesssolution   */
  .businesssolution .card{
    height: 250px;
    padding: 20px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .businesssolution img{
          height: 80px;
          width: 80px;
  }

.accordion-button{
  padding: 1rem 0rem !important;
}


.jumbotron{
    padding: 30px 0px;
    background-color: rgba(255, 242, 125, 0.758) !important;
}
/* business-card-row */
#business-card-row .card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#business-card-row .fa{
    margin-top: 20px;
    font-size: 30px;
}


/* caroue */
body > main > section:nth-child(12) > div > div > div > div.owl-nav{
    display:flex;
    justify-content: center;
    gap: 10px;
}
.team-card .card{
    height: 350px;
    position: relative;
    text-align: center;
}
.team-card .card img{
   object-fit: cover;
}
.social-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height:150px;
    left: 10%;
    width: 80%;
    top: 80%;
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    padding: 10px;
}

.fa-check{
    margin-right: 10px;
    color: green;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    font-size: 3rem !important;
}
footer .nav-item {
    margin: 0px 0px;
}
.form-control{
    width: auto !important;
}
@media screen and (max-width:600px) {
   .team-card .card{
    margin: 65px 0px;
   }
}